:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    display: flex;
    align-items: center;
    padding: 2rem;
    flex: 1;

    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    font-size: 43px;
    color: #ffffff;
  }

  h2 {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    font-size: 17px;
    color: #a5a5ba;
  }

  time {
    display: inline-flex;
    transform: skew(-8deg);
    padding: 6px 24px;
    margin-right: 12px;

    font-style: italic;
    text-align: center;
    text-transform: capitalize;

    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.07em;

    color: #ffffff;
    background: linear-gradient(
      347.16deg,
      #8c4bff 8.18%,
      rgba(197, 75, 255, 0.79) 114.87%
    );
  }
}
